{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Вход</h1>
{% if messages %}
<div class="messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-secondary" type="submit" value='Войти'>
    <input type="hidden" name="next" value="{{ next }}">
</form>
<p><a href="/accounts/signup/" class="text-muted">Регистрация</a></p>
{% endblock %}
