{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Вход</h1>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% if messages %}
        <div class="alert alert-block alert-success">
            <ul class="m-0">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form|crispy }}
    <input class="btn btn-secondary" type="submit" value='Войти'>
    <input type="hidden" name="next" value="{{ next }}">
</form>
<p><a href="/accounts/signup/" class="text-muted">Регистрация</a></p>
{% endblock %}
