{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Объявление
{% endblock title %}

{% block content %}
    <h1>{{ ad.title }}</h1>
    <tr><span style="font-size: 12px;">
        <b>Автор:  {{ ad.author }} | Категория: {{ ad.get_category_display }} |
        Дата публикации: {{ ad.dateCreation|date:'d.M.Y' }} г.</b></span><br><br></tr>
    <tr>{{ ad.text|safe }}</tr>
    {% if user.is_authenticated %}
        {% if user == ad.author %}
            <a class="btn btn-secondary bg-light text-secondary mr-sm-2"
               href="{% url 'ad_edit' pk=ad.id %}" role="button">Редактировать</a>
            <a class="btn btn-secondary bg-light text-secondary mr-sm-2"
               href="{% url 'ad_delete' ad.id %}" role="button">Удалить</a>
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                {{ response_form.as_p }}
                <input type="submit" class="btn mt-2 btn-comments" value="Откликнуться">
            </form>
        {% endif %}
    {% endif %}
    {% if responses %}
        <table>
            {% for response in responses %}
                <tr><td>{{ response.text|safe }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}
