{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}
    Объявление
{% endblock title %}

{% block content %}
    <h1>{{ ad.title }}</h1>
    <tr><span style="font-size: 12px;">
        <b>Автор:  {{ ad.author }} | Категория: {{ ad.get_category_display }} |
        Дата публикации: {{ ad.dateCreation|date:'DATETIME_FORMAT' }}</b></span><br><br></tr>
    <tr>{{ ad.text|safe }}</tr>
    {% if user.is_authenticated %}
        {% if user == ad.author %}
            <a class="btn btn-secondary bg-light text-secondary mr-sm-2"
               href="{% url 'ad_edit' pk=ad.id %}" role="button">Редактировать</a>
            <a class="btn btn-secondary bg-light text-secondary mr-sm-2"
               href="{% url 'ad_delete' ad.id %}" role="button">Удалить</a>
        {% else %}
            <form action="" method="POST" class="uniForm">
                {% csrf_token %}
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                {{ response_form|crispy }}
                <input type="submit" class="btn mt-2 btn-comments" value="Откликнуться">
            </form>
        {% endif %}
    {% endif %}
    {% if responses %}
        <p style="font-size: 26px;" align="left" ><b>Отклики</b></p>
        {% for response in responses %}
            <hr>
                <table>
                    <tr>
                        <td width="200px">
                            {% if response.status == False %}
                                <p align="center"><b>Статус:</b>
                                <br>на рассмотрении</p>
                            {% else %}
                                <p align="center"><b>Статус:</b>
                                <br>принят</p>
                            {% endif %}
                        </td>
                        <td>
                            <p align="left"><b>{{ response.author }}</b>:
                            <br>{{ response.text|safe }}</p>
                        </td>
                    </tr>
                </table>
            </form>
        {% endfor %}
    {% endif %}
<br>
{% endblock content %}
