{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
    <h1>Доска объявлений</h1>

    {% if user.is_authenticated %}
        <br>
        <a class="btn btn-secondary" href="{% url 'ad_create' %}" role="button">Добавить объявление</a>
    {% endif %}

<!--   <form action="" method="get">-->
<!--       {{ filterset.form.as_p }}-->
<!--       <input type="submit" value="Найти" />-->
<!--   </form>-->

   <hr>
    <!-- Выводим объявления, только если они есть -->
    {% if ads %}
        <table>
            {% for ad in ads %}
                <a href="/ad/{{ ad.id }}" style="font-size: 20px;"><b>{{ ad.title }}</b></a><br>
                <span style="font-size: 12px;"><b>Автор:  {{ ad.author }} |
                Дата публикации: {{ ad.dateCreation|date:'d.M.Y' }} г.</b></span><br><br>
                {{ ad.text|safe }}
            {% endfor %}
        </table>
    {% else %}
        <!-- Если объявлений нет, говорим, что их нет -->
        <h3>Объявлений нет!</h3>
    {% endif %}

{% endblock content %}