{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}
{% load custom_tags %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
    {% if is_url_myads %}
        <h3>Мои объявления</h3>
    {% else %}
        <h1>Доска объявлений</h1>
    {% endif %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    <!-- Выводим объявления, только если они есть -->
    {% if ads %}
        <table>
            {% for ad in ads %}
                    <hr>
                    <a href="/ads/{{ ad.id }}" style="font-size: 20px;"><b>{{ ad.title }}</b></a><br>
                    <span style="font-size: 12px;"><b>Автор:  {{ ad.author }} | Категория: {{ ad.get_category_display }} |
                    Дата публикации: {{ ad.dateCreation|date:'d.M.Y' }} г.
                    {% if user.is_authenticated %}
                         |
                        {% if user == ad.author %}
                            <a href="/ads/responses/" style="font-size: 12px;">Смотреть отклики</a></b></span><br>
                        {% else %}
                            <a href="/ads/responses/" style="font-size: 12px;">Откликнуться</a></b></span><br>
                        {% endif %}
                    {% else %}
                        </b></span><br>
                    {% endif %}
                {{ ad.text|safe }}
            {% endfor %}
            </table>
            <br>

        {# Добавляем пагинацию на страницу #}
            {# Информация о предыдущих страницах #}
            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=1 %}">1</a>
                {% if page_obj.previous_page_number != 1 %}
                    ...
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}

            {# Информация о текущей странице #}
            {{ page_obj.number }}

            {# Информация о следующих страницах #}
            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                    ...
                    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
        <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
    {% else %}
        <!-- Если объявлений нет, говорим, что их нет -->
        <h3>Объявлений нет!</h3>
    {% endif %}
{% endblock content %}