<!doctype  html>
<html  lang="en">
<head>
    <title>Доска объявлений - {% block title %} {% endblock title %}</title>
    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
    <!-- Добавляем скрипт CKeditor5 для отображения видео-->
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/ads/">Доска объявлений MMORPG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'ad_create' %}">Добавить объявление
                <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Введите текст" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Поиск</button>-->
<!--    </form>-->
        <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if user.is_authenticated %}
            {{ user }}
        {% else %}
            Войти
        {% endif %}
        </button>
            {% if user.is_authenticated %}
            <div class="dropdown-menu dropdown-menu-left">
                <a class="dropdown-item" href="/ads/myads/">Мои объявления</a>
                <a class="dropdown-item" href="/ads/responses/">Отклики</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout/">Выйти</a>
            </div>
            {% else %}
            <div class="dropdown-menu dropdown-menu-left">
                <a class="dropdown-item" href="/accounts/login/">Войти</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/signup/">Регистрация</a>
            </div>
            {% endif %}
    </div>
</div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {% block content %}
            {{ flatpage.content }}
            {% endblock content %}
        </div>
    </div>
</div>

<!--CKeditor Media Embed-->
<script>
    document.querySelectorAll( 'oembed[url]' ).forEach( element => {
        // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
        // to discover the media.
        const anchor = document.createElement( 'a' );

        anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
        anchor.className = 'embedly-card';

        element.appendChild( anchor );
    } );
</script>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>