{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
{{ flatpage.title }}
<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
    {% if responses %}
    <h1>{{ ad.title }}</h1>
    <tr><span style="font-size: 12px;">
        <b>Автор:  {{ ad.author }} | Категория: {{ ad.get_category_display }} |
                Дата публикации: {{ ad.dateCreation|date:'d.M.Y' }} г.</b></span><br><br></tr>
    {{ status|default_if_none:"Решение еще не принято." }}
    <tr>{{ ad.text|safe }}</tr>
    {% else %}
        <!-- Если откликов нет, говорим, что их нет -->
        <h3>Откликов еще нет!</h3>
    {% endif %}
{% endblock content %}