{% extends 'base.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h3>Отклики</h3>
<!--<form action="" method="get">-->
<!--       {{ filterset.form.as_p }}-->
<!--       <input type="submit" value="Найти" />-->
<!--   </form>-->
    {% if responses %}
        <table>
            {% for response in responses %}
                <hr>
                <span style="font-size: 12px;"><b>{{ response.get_status_display }}  |
                Объявление: {{ response.ad.title }} | Автор объявления: {{ response.ad.author }} | <a href="/ads/{{ ad.id }}"> Принять </a> <a href="/ads/{{ ad.id }}"> Отклонить </a></b></span>
                <br>
            <p align="left"><b>{{ response.author }}</b>: {{ response.text|safe }}</p>
            {% endfor %}
        </table>
<!--{{ status|default_if_none:"Решение еще не принято." }}-->
    {% else %}
        <!-- Если откликов нет, говорим, что их нет -->
        <h3>Откликов еще нет!</h3>
    {% endif %}
{% endblock content %}
