{% extends 'base.html' %}

{% block title %}
Новостная рассылка
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if user_subscribed %}
            <br>Вы подписаны на нашу новостную рассылку.
            <br>Если Вы больше не хотите ее получать, то нажмите на кнопку.
            <br><br>
            <button class="btn btn-secondary bg-light text-secondary mr-sm-2" name="action" value="unsubscribe">Отписаться</button>
        {% else %}
            <br>
            Подпишитесь на нашу новостную рассылку, чтобы ничего не пропустить!
            <br><br>
            <button class="btn btn-secondary bg-light text-secondary mr-sm-2" name="action" value="subscribe">Подписаться</button>
        {% endif %}
    </form>
<br>
{% endblock content %}
